
canvas#minimap {
 position : absolute;
}
canvas#minimapobjects {
 position : absolute;
}

canvas#dashboard { 
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 512;
    bottom: 0;
    left: 0;
    right: 0;
}

div#info {
 position : absolute;
 width : 800px;
 height : 200px;
 padding : 5px;
 color : white;
 font-family : lucida console, courier new;
 font-size : 24px;
 z-index : 100000001;
}

div#floor {
 position : absolute;
 width : 100%;
 height : 100%;
 background-color : rgb(112,112,112);
 z-index : -10000000;
}

div#ceiling {
 position : absolute;
 width : 100%;
 height : 50%;
 background-color : rgb(56,56,56);
 z-index : -10000000;
}


#screen {
 position : relative;
 width : 800px;
 height : 500px;
 border : 1px solid black;
 overflow : hidden;
}